<header>
	<div class="header-left">
		<p class="header-text">A crowdsourced collection of music videos where Diddy does not rap, sing, produce, nor otherwise perform music.</p>
	</div>
	<img class="diddy" src="/images/diddy-short.png" alt="Diddy" />
</header>