<div id="delete-check" class="popup">
	<div class="form-top">
		<h1>DELETE THIS VIDEO?</h1>
		<button class="close">&#10006;</button>
	</div>

	<form id="delete-form" class="form" action="" method="post">
		<button class="green-button" type="submit">delete</button>
	</form>
</div>