<nav>
	<h1 class="title">Diddy in Repose</h1>
	<% if (false) { %>
		<a class="nav-links" href="#"><button class="nav-button">Log Out</button></a>
		<button class="nav-button" id="newVidButton">New Video</button>
		<a class="nav-links" href="#"><button class="nav-button">My Videos</button></a>
		<a class="nav-links" href="#"><button class="nav-button">Home</button></a>
	<% } else { %> 
		<button class="nav-button" id="logInButton">Sign In</button>
		<button class="nav-button" id="newUserButton">Sign Up</button>
		<a class="nav-links" href="#"><button class="nav-button">Videos</button></a>
	<% }; %>
</nav>
<header>
	<div class="header-left">
		<p>A crowdsourced collection of music videos where Diddy does not rap, sing, produce, nor otherwise perform music.</p>
	</div>
	<img class="diddy" src="/images/diddy-short.png" alt="Diddy" />
</header>