<div id="newUser" class="popup">
	<div class="form-top">
		<h1>SIGN UP</h1>
		<button class="close">&#10006;</button>
	</div>

	<form class="form" action="/login" method="post">
		<div class="form-part">
			<label for="userName">username</label>
			<input type="text" name="userName"> 
		</div>

		<div class="form-part">
			<label for="password">enter password</label>
			<input id="password" class="input" type="password" name="password"> 
		</div>
		<p id="pass-mark" class="mark">&#10004</p>

		<div class="form-part">
			<label for="password-check">confirm password</label>
			<input id="password-check" class="input" type="password" name="password-check">
		</div>
		<p id="pass-check-mark" class="mark">&#10004</p> 

		<button id="create-user-button" class="green-button" type="button">submit</button>
		<p id="user-feedback">password must be at least 6 characters long</p>
	</form>
</div>