<div id="newUser" class="popup">
	<h1>Sign Up</h1>
	<form class="form" action="/" method="post">
		<label for="url">Username</label>
		<input type="text" name="userName"> 
		<br>

		<label for="title">Password</label>
		<input type="text" name="password"> 
		<br>

		<button type="submit">Save</button>
	</form>
</div>