<div id="newUser" class="popup">
	<div class="form-top">
		<h1>SIGN UP</h1>
		<button class="close">&#10006;</button>
	</div>

	<form class="form" action="/login" method="post">
		<div class="form-part">
			<label for="userName">username</label>
			<input type="text" name="userName"> 
		</div>

		<div class="form-part">
			<label for="title">password</label>
			<input type="password" name="password"> 
		</div>

		<button class="green-button" type="submit">submit</button>
	</form>
</div>