body {
	background-color: #fff;
	position: relative;
	font-family: "Helvetica", sans;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	height: 40px;
	z-index: 1;
	background-color: #fff;
}

.title{
	font-size: 30px;
	float: left;
	font-weight: lighter;
}

/*.nav-links {
	font-size: 20px;
	color: #000;
	text-decoration: none;
	float: right;
	margin: 0 15px;
}*/

.nav-button {
	float: right;
	font-size: 20px;
	border: none;
	background: none;
	margin: 0 20px;
}

.nav-button:hover {
	border-bottom: solid 2px black;
}

header {
	height: 200px;
	width: 100%;
	/*background: linear-gradient(#fff, #ccc);*/
	background-color: #4eec91;
	position: absolute;
	top: 30px;
	/*z-index: 1;*/
/*	display: flex;
	align-items: center;*/
}

.header-left {
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: red;*/
}

.diddy {
	height: 100%;
	top: 0;
	position: absolute;
	right: 0;
	/*opacity: .8;*/
}

.header-link {
	color: #000;
	margin: 0 20px;
}

.wrapper {
	top: 230px;
	position: absolute;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a {
  color: #00B7FF;
}

.vid-box {
	background-color: #000;
	display: inline-block;
	margin: 20px;
	width: 45%;
	color: #fff;
}

.vid-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.info {
	margin: 10px;
	font-family: "Helvetica", sans;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
}

.username {
	text-decoration: none;
}

.username:hover {
	text-decoration: underline;
}

#formContainer {
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.popup {
	display: none;
	height: 250px;
	width: 300px;
	margin: 150px auto;
/*	position: fixed;
	top: 200px;
	left: 250px;*/
	background-color: #fff;
	z-index: 1;
	padding: 15px;
	border-radius: 4px;
}