<!DOCTYPE html>
<html>
  <head>
    <title>Dogs on Film</title>
    <link rel='stylesheet' href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  	<% include ../partials/header.ejs %>
  	<div class="wrapper">
	  	<!-- <div class="content"> -->
		  	<% videos.forEach(function(video) { %>
		  		<div class="vid-box">
		  			<div class="vid-wrapper">
		  				<iframe src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
		  			</div>
		  			<h3><%= video.title %></h3>
		  			<h3><%= video.artist %></h3>
		  			<p><%= video.description %></p>
		  		</div>
		  	<% }) %>
	  	<!-- </div> -->
  	</div>
  </body>
</html>
